{% extends 'base.html' %}
{% load static %}
{% block header_change %}
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
      <meta name="user_id" content="{{ user.id }}">
    {% endif %}
{% endblock %}

{% block title %}Home{% endblock %}
{% block content %}

  <form id="send-push__form">
    <h3 class="header">Send a push notification</h3>
    <p class="error"></p>
    <input type="text" name="head" placeholder="Header: Your favorite airline">
    <textarea name="body" id="" cols="30" rows="10" placeholder="Body: Your flight has been cancelled"></textarea>
    <button>Send Me</button>
  </form>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
<br>
  {{message}}
</br>
  <form action="LiveView/start" method="GET">
  {{ form.as_p }}
  <button type="submit">start</button>
</form>

  <form action="LiveView/stop" method="GET">
  {{ form.as_p }}
  <button type="submit">stop</button>
</form>

  <form action="LiveView/stream" method="GET">
  {{ form.as_p }}
  <button type="submit">start and open stream</button>
</form>

  <form action="LiveView/open" method="GET">
  {{ form.as_p }}
  <button type="submit">open gate</button>
</form>

  <form action="admin" method="GET">
  {{ form.as_p }}
  <button type="submit">ADMIN</button>
</form>

<script src="{% static '/js/registerSw.js' %}"></script>
<script src="{% static '/js/site.js' %}"></script>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}