{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <ul class="object-tools">
          <li>
            <a href="load/" class="button">
              Load files
            </a>
          </li>
        </ul>
        <br></br>
        <ul  class="object-tools">
          <li>
            <a style=";" href="grab/" class="button">
              Grab capture
            </a>
          </li>
        </ul>
        <br></br>
    </div>
    {{ block.super }}
{% endblock %}